<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>黄慧</string>
		<key>title</key>
		<string>黄慧</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
	<dict>
		<key>img</key>
		<string>刘淇陪</string>
		<key>title</key>
		<string>刘淇陪</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
	<dict>
		<key>img</key>
		<string>吴杰</string>
		<key>title</key>
		<string>吴杰</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
	<dict>
		<key>img</key>
		<string>许笑</string>
		<key>title</key>
		<string>许笑</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
	<dict>
		<key>img</key>
		<string>杨燕</string>
		<key>title</key>
		<string>杨燕</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
	<dict>
		<key>img</key>
		<string>林峰天</string>
		<key>title</key>
		<string>林峰天</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
	<dict>
		<key>img</key>
		<string>胡谬</string>
		<key>title</key>
		<string>胡谬</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
	<dict>
		<key>img</key>
		<string>钱丰</string>
		<key>title</key>
		<string>钱丰</string>
		<key>number</key>
		<string>13897589876</string>
	</dict>
</array>
</plist>
