<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>judge</key>
		<string>1</string>
		<key>img</key>
		<string>photo</string>
		<key>name</key>
		<string>weixin</string>
		<key>content</key>
		<string>微信团队欢迎你。很高兴你开启了微信生活，期待能为你和朋友们带来愉快的沟通体检。</string>
	</dict>
	<dict>
		<key>judge</key>
		<string>0</string>
		<key>img</key>
		<string>photo1</string>
		<key>name</key>
		<string>helen</string>
		<key>content</key>
		<string>hello</string>
	</dict>
	<dict>
		<key>judge</key>
		<string>0</string>
		<key>img</key>
		<string>photo1</string>
		<key>name</key>
		<string>helen</string>
		<key>content</key>
		<string>0</string>
	</dict>
	<dict>
		<key>judge</key>
		<string>1</string>
		<key>img</key>
		<string>photo</string>
		<key>name</key>
		<string>weixin</string>
		<key>content</key>
		<string>谢谢反馈，已收录。</string>
	</dict>
	<dict>
		<key>judge</key>
		<string>0</string>
		<key>img</key>
		<string>photo1</string>
		<key>name</key>
		<string>helen</string>
		<key>content</key>
		<string>0</string>
	</dict>
	<dict>
		<key>judge</key>
		<string>1</string>
		<key>img</key>
		<string>photo</string>
		<key>name</key>
		<string>weixin</string>
		<key>content</key>
		<string>谢谢反馈，已收录。</string>
	</dict>
	<dict>
		<key>judge</key>
		<string>0</string>
		<key>img</key>
		<string>photo1</string>
		<key>name</key>
		<string>helen</string>
		<key>content</key>
		<string>大数据测试，长数据测试，大数据测试，长数据测试，大数据测试，长数据测试，大数据测试，长数据测试，大数据测试，长数据测试，大数据测试，长数据测试。</string>
	</dict>
</array>
</plist>
