<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>外出申请</string>
		<key>number</key>
		<string>18</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>出差申请</string>
		<key>number</key>
		<string>18</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>加班申请</string>
		<key>number</key>
		<string>18</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>请假申请</string>
		<key>number</key>
		<string>18</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>迟到申请</string>
		<key>number</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>早退申请</string>
		<key>number</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>漏打申请</string>
		<key>number</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>调班申请</string>
		<key>number</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>换班申请</string>
		<key>number</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imgtext</key>
		<string>role_code_icon</string>
		<key>title</key>
		<string>调休申请</string>
		<key>number</key>
		<string>0</string>
	</dict>
</array>
</plist>
