<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>日期</string>
		<key>content</key>
		<string>打卡时间</string>
		<key>remark</key>
		<string>正常上班</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月1日</string>
		<key>content</key>
		<string>08:25-18:00</string>
		<key>remark</key>
		<string>正常打卡</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月2日</string>
		<key>content</key>
		<string>08:25-18:00</string>
		<key>remark</key>
		<string>正常打卡</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月3日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月4日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月5日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月6日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月7日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月8日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月9日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月10日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月11日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月12日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月13日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月14日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月15日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月16日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月17日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月18日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月19日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月20日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月21日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月22日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月23日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月24日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月25日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月26日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月27日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月28日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月29日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月30日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月31日</string>
		<key>content</key>
		<string></string>
		<key>remark</key>
		<string></string>
	</dict>
</array>
</plist>
