<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>information_head_portrait_picture</string>
		<key>title</key>
		<string>我的头像</string>
		<key>icon</key>
		<string>homepage_record_button_orange</string>
		<key>info</key>
		<string></string>
		<key>back</key>
		<string>0</string>
	</dict>
	<dict>
		<key>img</key>
		<string>information_nickname_picture</string>
		<key>title</key>
		<string>我的昵称</string>
		<key>icon</key>
		<string></string>
		<key>info</key>
		<string>诸葛亮</string>
		<key>back</key>
		<string>0</string>
	</dict>
	<dict>
		<key>img</key>
		<string>information_feeling_picture</string>
		<key>title</key>
		<string>我的签名</string>
		<key>icon</key>
		<string></string>
		<key>info</key>
		<string>失败是成功之母</string>
		<key>back</key>
		<string>0</string>
	</dict>
	<dict>
		<key>img</key>
		<string>information_company_picture</string>
		<key>title</key>
		<string>我的公司</string>
		<key>icon</key>
		<string></string>
		<key>info</key>
		<string>中山韦达信息技术有限公司</string>
		<key>back</key>
		<string>0</string>
	</dict>
	<dict>
		<key>img</key>
		<string>information_integral_picture</string>
		<key>title</key>
		<string>我的积分</string>
		<key>icon</key>
		<string></string>
		<key>info</key>
		<string>100分</string>
		<key>back</key>
		<string>0</string>
	</dict>
	<dict>
		<key>img</key>
		<string>information_scheduling_picture</string>
		<key>title</key>
		<string>我的排班</string>
		<key>icon</key>
		<string></string>
		<key>info</key>
		<string>白班</string>
		<key>back</key>
		<string>1</string>
	</dict>
	<dict>
		<key>img</key>
		<string>information_holiday_picture</string>
		<key>title</key>
		<string>我的假期</string>
		<key>icon</key>
		<string></string>
		<key>info</key>
		<string>暂无假期</string>
		<key>back</key>
		<string>1</string>
	</dict>
</array>
</plist>
