<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>请假</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>加班</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>出差</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外出</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>换班</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>调班</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>辞职</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>调休</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>漏打卡</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>迟到</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>早退</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>费用</string>
		<key>imgtext</key>
		<string>role_code_icon</string>
	</dict>
</array>
</plist>
