<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>待处理</string>
		<key>hint</key>
		<string>3</string>
		<key>imgtext</key>
		<string>approve_cc_picture</string>
	</dict>
	<dict>
		<key>title</key>
		<string>已处理</string>
		<key>hint</key>
		<string>0</string>
		<key>imgtext</key>
		<string>approve_ok_picture</string>
	</dict>
	<dict>
		<key>title</key>
		<string>已拒绝</string>
		<key>hint</key>
		<string>1</string>
		<key>imgtext</key>
		<string>approve_reject_picture</string>
	</dict>
	<dict>
		<key>title</key>
		<string>抄送我的</string>
		<key>hint</key>
		<string>4</string>
		<key>imgtext</key>
		<string>approve_manage_picture_gary</string>
	</dict>
</array>
</plist>
