<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>settings_ feedback_picture</string>
		<key>title</key>
		<string>公司公告</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>img</key>
		<string>settings_ detection_picture</string>
		<key>title</key>
		<string>公司通知</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>img</key>
		<string>settings_ notice_picture</string>
		<key>title</key>
		<string>我的消息</string>
		<key>number</key>
		<string></string>
	</dict>
</array>
</plist>
