<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>2016年12月25日</string>
		<key>name</key>
		<string>我    等待审核</string>
		<key>status</key>
		<string></string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月25日</string>
		<key>name</key>
		<string>诸葛亮</string>
		<key>status</key>
		<string>审批意见  同意</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016年12月25日</string>
		<key>name</key>
		<string>张飞   发起申请</string>
		<key>status</key>
		<string></string>
	</dict>
</array>
</plist>
