<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>迟到</string>
		<key>number</key>
		<string>2次</string>
	</dict>
	<dict>
		<key>title</key>
		<string>早退</string>
		<key>number</key>
		<string>3次</string>
	</dict>
	<dict>
		<key>title</key>
		<string>范围外</string>
		<key>number</key>
		<string>0次</string>
	</dict>
	<dict>
		<key>title</key>
		<string>未签到</string>
		<key>number</key>
		<string>2次</string>
	</dict>
	<dict>
		<key>title</key>
		<string>未签退</string>
		<key>number</key>
		<string>5次</string>
	</dict>
	<dict>
		<key>title</key>
		<string>加班</string>
		<key>number</key>
		<string>2次</string>
	</dict>
</array>
</plist>
