<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>settings_account_security_picture</string>
		<key>title</key>
		<string>账户与安全</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>settings_ notice_picture</string>
		<key>title</key>
		<string>消息通知</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>settings_ remind_picture</string>
		<key>title</key>
		<string>打卡声音</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>settings_ funtion_picture</string>
		<key>title</key>
		<string>功能介绍</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>settings_ feedback_picture</string>
		<key>title</key>
		<string>意见反馈</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>settings_ detection_picture</string>
		<key>title</key>
		<string>版本检测</string>
		<key>number</key>
		<string>版本号1.0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>settings_ customer_service_picture</string>
		<key>title</key>
		<string>客服中心</string>
		<key>number</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>settings_ about_us_picture</string>
		<key>title</key>
		<string>关于我们</string>
		<key>number</key>
		<string></string>
	</dict>
</array>
</plist>
