<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>statistical_my_Daily_picture</string>
		<key>title</key>
		<string>我的考勤日报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_my_weekly_picture</string>
		<key>title</key>
		<string>我的考勤周报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_my_Monthly_picture</string>
		<key>title</key>
		<string>我的考勤月报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_my_match</string>
		<key>title</key>
		<string>我的考勤对比</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_my_trace</string>
		<key>title</key>
		<string>我的考勤轨迹</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_department_Daily_picture</string>
		<key>title</key>
		<string>部门考勤日报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_department_weekly_picture</string>
		<key>title</key>
		<string>部门考勤周报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_department_Monthly_picture</string>
		<key>title</key>
		<string>部门考勤月报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_department_field_picture</string>
		<key>title</key>
		<string>部门外勤统计</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_company_daily</string>
		<key>title</key>
		<string>公司考勤日报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_company_weekly</string>
		<key>title</key>
		<string>公司考勤周报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_company_monthly</string>
		<key>title</key>
		<string>公司考勤月报</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_working_hours_heroes_list_picture</string>
		<key>title</key>
		<string>工时英雄榜</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_check_in_list_of_heroes_picture</string>
		<key>title</key>
		<string>签到英雄榜</string>
	</dict>
	<dict>
		<key>img</key>
		<string>statistical_department_of_ranking_picture</string>
		<key>title</key>
		<string>部门红黑榜</string>
	</dict>
</array>
</plist>
