<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>采购部门</string>
		<key>number</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>销售部门</string>
		<key>number</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>产品部门</string>
		<key>number</key>
		<string>5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>设计部门</string>
		<key>number</key>
		<string>4</string>
	</dict>
</array>
</plist>
