<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>韩肖肖</string>
		<key>title</key>
		<string>韩肖肖</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>赵无</string>
		<key>title</key>
		<string>赵无</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>黄佳伟</string>
		<key>title</key>
		<string>黄佳伟</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>徐联</string>
		<key>title</key>
		<string>徐联</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>王晓飞</string>
		<key>title</key>
		<string>王晓飞</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>楚阳</string>
		<key>title</key>
		<string>楚阳</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>糖糖</string>
		<key>title</key>
		<string>糖糖</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>童天骄</string>
		<key>title</key>
		<string>童天骄</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
	<dict>
		<key>img</key>
		<string>李静</string>
		<key>title</key>
		<string>李静</string>
		<key>number</key>
		<string>18666182990</string>
	</dict>
</array>
</plist>
